#ofelimo {
	font-size: 0px;
	white-space: nowrap;
}

#pektisArea {
	width: 150px;
/*
background-color: #cbeded;
*/
}

#kafenioArea {
	width: 400px;
/*
background-color: #d5d5af;
*/
}

.panel {
	background-color: #bec195;
}

.panelItem {
	background-color: #e0e1c2;
}

#pektisArea,
#kafenioArea {
	display: inline-block;
	font-size: 18px;
	white-space: normal;
	vertical-align: top;
	overflow-x: hidden;
}

#partidaArea {
	display: inline-block;
	width: 558px;
background-color: #7f9b9b;
}

#pasArea {
	display: inline-block;
	vertical-align: top;
background-color: #dbd99b;
}

#prosklisiArea {
	height: 20%;
background-color: #7db377;
}

#anazitisiArea {
	height: 20%;
background-color: #95c8cb;
}

#sizitisiArea {
	height: auto;
background-color: #f9f9a4;
}

.pektis {
	display: inline-block;
	margin: 4px;
	padding: 2px;
	width: 114px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;

	border-style: solid;
	border-color: #488141;
	border-width: 3px;
	border-radius: 5px;
background-color: #8AA886;
}

.trapezi {
	display: inline-block;
	margin: 4px;
	padding: 2px;
	width: 360px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;

	border-style: solid;
	border-color: #a38738;
	border-width: 3px;
	border-radius: 5px;
background-color: #cfad79;
}

.trapezi div {
	vertical-align: middle;
}

.trapeziKodikos {
	display: inline-block;
	width: 70px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}

.trapeziPektis {
	display: inline-block;
}
