#ofelimo {
	font-size: 0px;
	white-space: nowrap;
}

#pektisArea {
	display: inline-block;
	width: 150px;
	height: 90%;
	padding: 4px;
	overflow-y: scroll;
background-color: teal;
}

#kafenioArea {
	display: inline-block;
	width: 280px;
	height: 90%;
	padding: 4px;
	overflow-y: scroll;
background-color: #919157;
}

#partidaArea {
	display: inline-block;
	width: 500px;
	height: 90%;
	padding: 4px;
background-color: #7f9b9b;
}

#pasArea {
	display: inline-block;
	height: 90%;
	vertical-align: top;
background-color: #a4d3b6;
}

#prosklisiArea {
	height: 20%;
	border-style: solid none none solid;
	border-color: grey;
	border-width: 1px;
background-color: cyan;
}

#anazitisiArea {
	height: 20%;
	border-style: solid none none solid;
	border-color: grey;
	border-width: 1px;
background-color: magenta;
}

#sizitisiArea {
	border-style: solid none none solid;
	border-color: grey;
	border-width: 1px;
background-color: yellow;
}
