*\.swp
*\.o
*\.a
*\.so
*\.gz
*\.ro
*\.exe
*\.tar
*\.swp
*\.tab\.[ch]
lex\.yy\.c
*\.min\.js
nohup\.out
www/tavlijs
local/*
skiser/log/*
skiser/skiser.lck/*
panos*
!www/test_root.min.js
!www/test/test_test.min.js
