#egrafiForma {
	position: absolute;
	right: 40px;
	top: 10px;
}

#egrafiLogin {
	width: 12em;
}

#egrafiOnoma {
	width: 16em;
}

#egrafiEmail {
	width: 16em;
}

#egrafiKodikos1 {
	width: 12em;
}

#egrafiKodikos2 {
	width: 12em;
}
