#accountForma {
	position: absolute;
	right: 40px;
	top: 10px;
}

#accountLogin {
	width: 12em;
}

#accountOnoma {
	width: 16em;
}

#accountEmail {
	width: 16em;
}

#accountKodikos {
	width: 12em;
}

#accountKodikos1 {
	width: 12em;
}

#accountKodikos2 {
	width: 12em;
}
